.spacer {
  flex: 1 1 auto;
}

.username {
  margin-right: 16px;
  font-size: 14px;
}

.app-title {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  margin-right: 16px;
}

main {
  padding: 24px;
}