# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=eticket
POSTGRES_PASSWORD=ChangeMe
POSTGRES_DB=eticket

# Keycloak
KEYCLOAK_ADMIN_USER=
KEYCLOAK_ADMIN_PASSWORD=
KEYCLOAK_ISSUER_URL=
KEYCLOAK_JWKS_URI=
KEYCLOAK_URL=